{% extends 'base.html' %}
{% block content %}
<div class="columns">
  <div class="column is-offset-3 is-6">
    <a href="{{ url_for('notas.nueva_nota') }}" class="button is-link is-outlined"><i class="fa-solid fa-plus"></i>
      &nbsp;
      Agregar nota</a>
    <br><br>
    {% for c in notas %}
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://cdn-icons-png.flaticon.com/256/1024/1024824.png"
                alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ c.titulo }}</p>
            <p class="subtitle is-6"> {{ c.descripcion }}</p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="{{ url_for('notas.editar_nota', id=c.id) }}"" class=" card-footer-item">Editar</a>
          <a href="{{ url_for('notas.eliminar_nota', id=c.id) }}" class="card-footer-item">Eliminar</a>
        </footer>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}